<div class="index_main">
  <div class="help_main">
    <h1> <%= t ".title3" %> </h1>
    <h3>
      <%= t ".get" %>
      <%= link_to t(".rails"), Settings.help.link2 %> <%= t ".sample" %>
      <%= link_to t(".ruby"), Settings.help.link3 %> <%= t ".book" %>
    </h3>
  </div>
 </div>
