<div id="index_main">
  <div id="home_main" class="center jumbotron">
    <h1> <%= t ".app" %> </h1>
    <h2>
      <%= t ".first" %>
      <%= link_to t(".link"), Settings.home.link1 %>
      <%= t ".last" %>
    </h2>
    <a href="#" class="btn btn-lg btn-primary">Sign up now!</a>
  </div>
  <img alt="Rails logo" src="/assets/rails.png" />
</div>

<div class="languages">
  <%= t ".Languages" %>
  <%= link_to t(".En"), locale:"en" %>
  <%= link_to t(".Vi"), locale:"vi" %>
  <% provide :title, t(".title1") %>
</div>
