<footer class="footer">
  <small>
    <%= link_to t(".the"), Settings._footer.link8 %><%= t(".ruby") %>
    <%= link_to t(".by"), Settings._footer.link9 %><%= t(".author") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
